[application]
prepare_request  = false
ffmpeg           = c:\Users\ffmpeg-20190928\bin\ffmpeg.exe
delete_old_tests = 12 #hours
prepare_tests    = 4  #hours
check_tests      = 5  #seconds

[logger]
log_path   = 
log_level  = info
rotate     = daily

[connectdb]
db_dialect    = postgres
host          = localhost
port          = 5432
database      = my_db
schema_pg     = my_schema
user          = pg_user
password      = my_password
ssl_mode      = false
create_tables = false
sqlite_path   = #absolute path to sqlite .db
crypt_pass    =